@charset "utf-8";

body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 40px;
  letter-spacing: 1.2em;
  border-bottom: 3px solid rgb(115, 115, 114);
  text-shadow: 2px 2px 2px #ccc;
}

.skyblue {
  color: skyblue;
}

.pink {
  color:  rgb(255, 192, 203);
}

#basic p {
  font-weight: bold;
}